extends ../layout/base 

block content
    div.content-header
        .container-fluid
            .row.mb-2
                .col-sm-6
                    h1 #{title}
                .col-sm-6
                    ol.breadcrumb.float-sm-right
                        li.breadcrumb-item
                            a(href='/transaction/index') Home
                        li.breadcrumb-item
                            a(href='/transaction/index') Transaction
                        li.breadcrumb-item.active Edit
    section.content
        .container-fluid
            include add-item.pug
        .container-fluid
            .invoice.p-3.mb-3
                .ribbon-wrapper.ribbon-xl
                    .ribbon.bg-dark.text-xl
                        | Pending
                .row
                    .col-12
                        h4
                            i.fas.fa-info-circle
                            |  Customer Details
                .row.invoice-info
                    .col-sm-4.invoice-col
                        address
                            strong #{customer.first_name} #{customer.last_name}
                            br
                            | #{customer.address}
                            br
                            | Phone: #{customer.phone}
                            br
                            | Email: #{customer.email}
                .row
                    .col-md-12
                        h4.text-right
                            small.float-rigth Date: #{result.updated_at.toISOString().replace('T', ' ').substring(0, 10)}
                include items.pug
                .row
                    .col-3.offset-9
                        .table-responsive
                            table.table
                                tbody
                                    tr
                                        th(style='width:50%') Subtotal:
                                        td #{result.subtotal.toFixed(2)}
                                    tr
                                        th Tax (10%)
                                        td #{result.tax.toFixed(2)}
                                    if result.discount > 0
                                        th Discount
                                        td -#{result.discount.toFixed(2)}
                                    tr
                                        th Grand Total:
                                        td #{result.grand_total.toFixed(2)}
                .row.no-print
                    .col-12
                        small.text-danger.text-small
                            | *=Age Restricted Item
                        button.btn.btn-success.float-right(type='button' data-toggle='modal' data-target='#pay-by-card')
                            i.far.fa-credit-card
                            |  Pay by Card
                        button.btn.btn-primary.float-right.mx-2(type='button' data-toggle='modal' data-target='#pay-by-cash')
                            i.fas.fa-money-bill
                            |  Pay by Cash
                        a(href="/transaction/" + result.id + "/recalTotal")  
                            button.btn.btn-info.float-right(type='button')
                                i.fas.fa-calculator
                                |  Recalculate
                        if req.user.role == 1
                            button.btn.btn-secondary.float-right.mx-2(type='button' data-toggle='modal' data-target='#apply-discount')
                                i.fas.fa-tag
                                |  Apply Discount
                        button.btn.btn-outline-secondary.float-right(type='button' data-toggle='modal' data-target='#apply-discount-code')
                            i.fas.fa-certificate
                            |  Discount Code
        #apply-discount-code.modal.fade
            .modal-dialog
                .modal-content
                    form(action="/transaction/" + result.id + "/applyDiscountCode" method="post")
                        .modal-header
                            h4.modal-title Discount Code
                            button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                        .modal-body
                            input(type="hidden" name="_csrf" value=_csrf)
                            div.row
                                .col-12
                                    .form-group
                                        p.text-danger Submitting this would overwrite "Cart Discount". To revert, click 'Recalculate' button.
                            div.row
                                div.col-6
                                    div.form-group
                                        label Amount to Pay
                                        input.form-control(value=result.grand_total.toFixed(2) disabled)
                                div.col-6
                                    div.form-group
                                        label(for="code") Discount Code
                                        input.form-control#code(name='code' placeholder='Enter Discount Code' required)
                        .modal-footer.justify-content-between
                            button.btn.btn-default(type='button' data-dismiss='modal') Close
                            button.btn.btn-primary(type='submit') Submit

        #pay-by-cash.modal.fade
            .modal-dialog
                .modal-content
                    form(action="/transaction/" + result.id + "/byCash" method="post")
                        .modal-header
                            h4.modal-title Pay By Cash
                            button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                        .modal-body
                            input(type="hidden" name="_csrf" value=_csrf)
                            div.row
                                div.col-6
                                    div.form-group
                                        label Amount to Pay
                                        input.form-control(value=result.grand_total.toFixed(2) disabled)
                                div.col-6
                                    div.form-group
                                        label(for="payment") Payment
                                        input.form-control#payment(type="number" step=.1 min=result.grand_total name='payment' placeholder='Enter Payment' required)
                        .modal-footer.justify-content-between
                            button.btn.btn-default(type='button' data-dismiss='modal') Close
                            button.btn.btn-primary(type='submit') Submit

        #pay-by-card.modal.fade
            .modal-dialog
                .modal-content
                    form(action="/transaction/" + result.id + "/byCard" method="post")
                        .modal-header
                            h4.modal-title Pay By Card
                            button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                        .modal-body
                            input(type="hidden" name="_csrf" value=_csrf)
                            div.row
                                div.col-6
                                    div.form-group
                                        label Amount to Pay
                                        input.form-control(value=result.grand_total.toFixed(2) disabled)
                                div.col-6
                                    div.form-group
                                        label(for="pin") Pin
                                        input.form-control#pin(name='pin' placeholder='Enter Pin' required)
                        .modal-footer.justify-content-between
                            button.btn.btn-default(type='button' data-dismiss='modal') Close
                            button.btn.btn-primary(type='submit') Submit

        #apply-discount.modal.fade
            .modal-dialog
                .modal-content
                    form(action="/transaction/" + result.id + "/applyDiscount" method="post")
                        .modal-header
                            h4.modal-title Apply Discount
                            button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                        .modal-body
                            input(type="hidden" name="_csrf" value=_csrf)
                            div.row
                                .col-12
                                    .form-group
                                        p.text-danger Submitting this would overwrite "Cart Discount". To revert, click 'Recalculate' button.
                            div.row
                                div.col-12
                                    div.form-group
                                        label(for="discount_type") Discount Type
                                        select.form-control#discount_type(name="discount_type" required)
                                            option(value="") --- Select Discount Type ---
                                            option(value="1") Percentage
                                            option(value="2") Fixed
                            .row
                                div.col-6
                                    div.form-group
                                        label(for="rate") Rate
                                        input.form-control#rate(type="number" step=.1 min=.1 name='rate' placeholder='Enter Rate' required)
                                div.col-6
                                    div.form-group
                                        label(for="capped_at") Capped At
                                        input.form-control#capped_at(type="number" step=.1 min=.1 name='capped_at' placeholder='Enter Capped' required)
                        .modal-footer.justify-content-between
                            button.btn.btn-default(type='button' data-dismiss='modal') Close
                            button.btn.btn-primary(type='submit') Submit