extends ../layout/base-datatables.pug

block content 
    div.content-header
        .container-fluid
            .row.mb-2
                .col-sm-6
                    h1 #{title}
                .col-sm-6
                    ol.breadcrumb.float-sm-right
                        li.breadcrumb-item
                            a(href='/') Home
                        li.breadcrumb-item.active #{title}

    section.content 
        div.container-fluid
            div.row
                div.col-12
                    div.card
                        div.card-header
                            a(href='/transaction/create').btn.btn-primary.float-right
                                i.fa.fa-plus 
                                |  Create Transaction
                        div.card-body
                            div.row
                                div.col-12
                                    table#table.table.table-hover.dataTable.dtr-inline(role="grid")
                                        thead
                                            tr
                                                th
                                                    | Id
                                                th
                                                    | Customer
                                                th
                                                    | Item Qty
                                                th
                                                    | Amount
                                                th 
                                                    | Status
                                                th 
                                                    | Date
                                                th
                                                    | Action
                                        tbody 
                                            each result in results
                                                tr
                                                    td #{result.id}
                                                    td
                                                        a(href="/customer/edit/" + result.customer_id)
                                                            | #{result.first_name} #{result.last_name}
                                                    td #{result.total_quantity}
                                                    td #{result.grand_total.toFixed(2)}
                                                    td #{(result.status).toUpperCase()}
                                                    td #{result.created_at.toISOString().replace('T', ' ').substring(0, 10)}
                                                    td
                                                        if result.status == 'completed'
                                                            div(style='display:inline-block')
                                                                a(href='/transaction/show/' + result.id).btn.btn-sm.btn-info.mx-2
                                                                    i.fa.fa-eye
                                                        
                                                        if result.status == 'pending'
                                                            div(style='display:inline-block')
                                                                a(href='/transaction/edit/' + result.id).btn.btn-sm.btn-primary.mx-2
                                                                    i.fa.fa-edit
                                                        div(style='display:inline-block')
                                                            form(method='post' action='/staff/destroy/1')
                                                                input(type="hidden" name="_method" value="DELETE")
                                                                button.btn.btn-sm.btn-danger(type='submit')
                                                                    i.fas.fa-trash-alt
                            div.row
                                div.col-12.col-md-6
                                    div#table_info.dataTables_info(role="status")
                                        //- Total entries and pagination text added by JS