div.row
    div.col-12.table-responsive
        table.table.table-striped
            thead
                tr
                    th(width='10%')
                        | Qty
                    th
                        | Product
                    th
                        | Description
                    th 
                        | Unit Price
                    th 
                        | Total
                    if result.status == 'pending'
                        th(width='5%').no-print
            tbody 
                each item in items
                    tr
                        td
                            | #{item.quantity}
                        if item.age_restriction
                            td.text-danger
                                | *#{item.name}
                        else
                            td
                                | #{item.name}
                        td
                            | #{item.description}
                        td
                            | #{item.unit_price.toFixed(2)}
                        td
                            | #{item.total.toFixed(2)}
                        if result.status == 'pending'
                            td.no-print
                                div(style='display:inline-block')
                                    form(method='post' action='/transaction/' + result.id + "/deleteItem")
                                        input(type="hidden" name="transaction_item_id" value=item.id)
                                        input(type="hidden" name="_method" value="DELETE")
                                        button.btn.btn-sm.btn-danger(type='submit')
                                            i.fas.fa-trash-alt