extends ../layout/base 

block content
    div.content-header
        .container-fluid
            .row.mb-2
                .col-sm-6
                    h1 #{title}
                .col-sm-6
                    ol.breadcrumb.float-sm-right
                        li.breadcrumb-item
                            a(href='/transaction/index') Home
                        li.breadcrumb-item 
                            a(href='/product/index') Product
                        li.breadcrumb-item.active Edit

    section.content
        div.container-fluid
            div.row
                div.col-12
                    div.card
                        div.card-body
                            form(method="post" action="/product/" + result.id + "/update" enctype="multipart/form-data")
                                input(type="hidden" name="_csrf" value=_csrf)
                                div.row
                                    div.col-6
                                        div.form-group
                                            label(for="name") Name
                                            input.form-control#name(value=result.name name='name' placeholder='Enter Name' required)
                                    div.col-6
                                        div.form-group
                                            label(for="category_id") Category
                                            select.form-control#category_id(name="category_id" required)
                                                option(value="") --- Select Category ---
                                                    each category in categories 
                                                        option(value=category.id selected=(result.category_id == category.id)) #{category.name}
                                div.row
                                    div.col-6
                                        div.form-group
                                            label(for="unit_price") Unit Price
                                            input.form-control#unit_price(type='number' name='unit_price' placeholder='Enter Unit Price' step=0.01 min=0 required value=result.unit_price)
                                    div.col-6
                                        div.form-group
                                            label(for="stock") Stock
                                            input.form-control#stock(type='number' name='stock' placeholder='Enter Stock' step=1 min=0 required value=result.stock)
                                div.row
                                    div.col-6
                                        div.form-group
                                            label(for="discounted_price") Discounted Price
                                            input.form-control#discounted_price(type='number' name='discounted_price' placeholder='Enter Discounted Price' min=0 step=0.01 value=result.discounted_price)
                                    div.col-6
                                        div.form-group
                                            label(for="expiry_date") Expiry Date
                                            input.form-control.date#expiry_date(type='date' name='expiry_date' placeholder='Enter Expiry Date' required min=result.expiry_date.toISOString().split('T')[0] value=result.expiry_date.toISOString().split('T')[0])
                                div.row
                                    div.col-6
                                        div.form-group
                                            label(for="age_restriction") Age Restriction
                                            small.text-danger (Default No)
                                            select.form-control#age_restriction(name="age_restriction")
                                                option(value="") --- Select Age Restriction ---
                                                option(value=0 selected=(result.age_restriction == 0)) No 
                                                option(value=1 selected=(result.age_restriction == 1)) Yes
                                    div.col-6
                                        div.form-group
                                            label(for="show_listing") Show Listing
                                            small.text-danger (Default Yes)
                                            select.form-control#show_listing(name="show_listing")
                                                option(value="") --- Select Show Listing ---
                                                option(value=0 selected=(result.show_listing == 0)) No 
                                                option(value=1 selected=(result.show_listing == 1)) Yes
                                div.row
                                    div.col-6
                                        .form-group
                                            label(for='image') Image
                                            .input-group
                                                .custom-file
                                                    input#image.custom-file-input(type='file' name="image")
                                                    label.custom-file-label(for='image') Choose file
                                    div.col-6
                                        div.form-group
                                            label(for="description") Description
                                            textarea.form-control#description(name="description")
                                                | #{result.description}
                                .row
                                    .col-6
                                        div.form-group
                                            label Current Image
                                            br
                                            img.img-fluid(src=(result.image == null) ? '/images/products/default.png' : result.image alt=result.name)
                                input(type="hidden" name="id" value=result.id)
                                div.row
                                    div.col-12.text-right
                                        a(href="/product/index").mr-2
                                            button.btn.btn-secondary(type='button') Back
                                        button.btn.btn-success(type='submit') Submit