extends ../layout/base-datatables.pug

block content 
    div.content-header
        .container-fluid
            .row.mb-2
                .col-sm-6
                    h1 #{title}
                .col-sm-6
                    ol.breadcrumb.float-sm-right
                        li.breadcrumb-item
                            a(href='/') Home
                        li.breadcrumb-item.active #{title}

    section.content 
        div.container-fluid
            div.row
                div.col-12
                    div.card
                        div.card-header
                            a(href='/product/create').btn.btn-primary.float-right
                                i.fa.fa-plus 
                                |  Create Product
                        div.card-body
                            div.row
                                div.col-12
                                    table#table.table.table-hover.dataTable.dtr-inline(role="grid")
                                        thead
                                            tr
                                                th
                                                    | Id
                                                th
                                                    | Name
                                                th
                                                    | Category
                                                th
                                                    | Price (£)
                                                th
                                                    | Stock
                                                th
                                                    | Show Listing
                                                th
                                                    | Action
                                        tbody 
                                            each result in results
                                                tr
                                                    td 
                                                        | #{result.id}
                                                    td
                                                        | #{result.name}
                                                    td
                                                        a(href="/category/edit/" + result.category_id) 
                                                            | #{result.category_name}
                                                    td 
                                                        | #{result.unit_price.toFixed(2)}
                                                    td 
                                                        | #{result.stock}
                                                    td 
                                                        if result.show_listing == 1 
                                                            | Yes
                                                        else 
                                                            | No
                                                    td
                                                        div(style='display:inline-block')
                                                            a(href='/product/edit/' + result.id).btn.btn-sm.btn-primary.mx-2
                                                                i.fa.fa-edit
                                                        | 
                                                        div(style='display:inline-block')
                                                            form(method='post' action='/product/destroy/' + result.id)
                                                                input(type="hidden" name="_method" value="DELETE")
                                                                button.btn.btn-sm.btn-danger(type='submit')
                                                                    i.fas.fa-trash-alt
                            div.row
                                div.col-12.col-md-6
                                    div#table_info.dataTables_info(role="status")
                                        //- Total entries and pagination text added by JS

    .modal.confirmation-modal(role="dialog" tabindex="-1")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    h5.modal-title
                        | Delete user
                    button.close(type="button" data-dismiss="modal" arial-label="Close")
                        span(aria-hidden="true")
                            | &times;
                .modal-body 
                    p 
                        | Are you sure? 
                .modal-footer 
                    button.btn.btn-secondary.js-cancel(data-dismiss="modal")
                        | Cancel
                    button.btn.btn-danger.js-confirm
                        | Continue
