extends ../layout/base 

block content
    div.content-header
        div.container-fluid
            div.row.mb-2.mt-3
                div.col-12
                    h1.m-0
                        | #{title}

    section.content
        div.container-fluid
            div.row
                div.col-12
                    div.card
                        div.card-body
                            form(action="/customer/store" method="post")
                                input(type="hidden" name="_csrf" value=_csrf)
                                div.row
                                    div.col-6
                                        div.form-group
                                            label
                                                | First Name
                                            input.form-control#first_name(type='text' value=typeof name != 'undefined'? name: '' name='first_name' placeholder='Enter First Name' required)
                                    div.col-6
                                        div.form-group
                                            label
                                                | Last Name
                                            input.form-control#last_name(type='text' value=typeof name != 'undefined'? name: '' name='last_name' placeholder='Enter Last Name' required)
                                div.row
                                    div.col-6
                                        div.form-group
                                            label
                                                | Date Of Birth
                                            //input.form-control#dob(type='number' name='unit_price' placeholder='Enter Unit Price' step=0.01 min=0 required)
                                            <input class="form-control" id="dob" type="date" name="dob" placeholder="Enter Date of Birth" required>

                                    div.col-6
                                        div.form-group
                                            label
                                                | Address
                                            input.form-control#address(type='text' value=typeof name != 'undefined'? name: '' name='address' placeholder='Enter Address' required)
                                
                                div.row
                                    div.col-12.text-right
                                        a(href="/product/index").mr-2
                                            button.btn.btn-secondary(type='button')
                                                | Back
                                        button.btn.btn-primary(type='submit')
                                            | Submit