extends ../layout/base 

block content
    div.content-header
        .container-fluid
            .row.mb-2
                .col-sm-6
                    h1 #{title}
                .col-sm-6
                    ol.breadcrumb.float-sm-right
                        li.breadcrumb-item
                            a(href='/') Home
                        li.breadcrumb-item
                            a(href='/customer/index') Customer
                        li.breadcrumb-item.active Edit

    section.content
        div.container-fluid
            div.row
                div.col-12
                    div.card
                        div.card-body
                            form(method="post" action="/customer/update/" + result.id)
                                input(type="hidden" name="_csrf" value=_csrf)
                                div.row
                                    div.col-6
                                        div.form-group
                                            label
                                                | First Name
                                            input.form-control#first_name(name='first_name' placeholder='Enter First Name' value=result.first_name required)
                                    div.col-6
                                        div.form-group
                                            label
                                                | Last Name
                                            input.form-control#last_name(name='last_name' placeholder='Enter Last Name' value=result.last_name required)
                                div.row
                                    div.col-6
                                        div.form-group
                                            label
                                                | Date Of Birth
                                            input#dob.form-control(value=result.dob.toISOString().split('T')[0] type="date" name="dob" placeholder="Enter Date of Birth" max=new Date().toISOString().split('T')[0] required)
                                    div.col-6
                                        div.form-group
                                            label
                                                | Address
                                            input.form-control#address(name='address' placeholder='Enter Address' value=result.address required)

                                div.row
                                    div.col-12.text-right
                                        a(href="/customer/index").mr-2
                                            button.btn.btn-secondary(type='button')
                                                | Back
                                        button.btn.btn-primary(type='submit')
                                            | Submit