extends ../layout/base-datatables.pug

block content 
    div.content-header
        .container-fluid
            .row.mb-2
                .col-sm-6
                    h1 #{title}
                .col-sm-6
                    ol.breadcrumb.float-sm-right
                        li.breadcrumb-item
                            a(href='/') Home
                        li.breadcrumb-item.active #{title}

    section.content 
        div.container-fluid
            div.row
                div.col-12
                    div.card
                        div.card-header
                            a(href='/customer/create').btn.btn-primary.float-right
                                i.fa.fa-plus 
                                |  Create Customer
                        div.card-body
                            div.row
                                div.col-12
                                    table#table.table.table-hover.dataTable.dtr-inline(role="grid")
                                        thead
                                            tr
                                                th
                                                    | Id
                                                th
                                                    | First Name
                                                th
                                                    | Last Name
                                                th
                                                    | Date of Birth
                                                th
                                                    | Address
                                                th 
                                                    | Action
                                        tbody 
                                            each result in results
                                                tr
                                                    td 
                                                        | #{result.id}
                                                    td
                                                        | #{result.first_name}
                                                    td
                                                        | #{result.last_name}
                                                    td 
                                                        | #{result.dob}
                                                    td 
                                                        | #{result.address}
                                                    td 
                                                        div(style='display:inline-block')
                                                            a(href='/customer/edit/' + result.id).btn.btn-sm.btn-primary.mx-2
                                                                i.fa.fa-edit
                                                            | 
                                                        div(style='display:inline-block')
                                                            form(method='post' action='/customer/destroy/' + result.id)
                                                                input(type="hidden" name="_method" value="DELETE")
                                                                button.btn.btn-sm.btn-danger(type='submit')
                                                                    i.fas.fa-trash-alt
                            div.row
                                div.col-12.col-md-6
                                    div#table_info.dataTables_info(role="status")
                                        //- Total entries and pagination text added by JS