extends ../layout/base-datatables.pug

block content 
    div.content-header
        .container-fluid
            .row.mb-2
                .col-sm-6
                    h1 #{title}
                .col-sm-6
                    ol.breadcrumb.float-sm-right
                        li.breadcrumb-item
                            a(href='/') Home
                        li.breadcrumb-item.active #{title}

    section.content 
        div.container-fluid
            div.row
                div.col-12
                    div.card
                        div.card-header
                            a(href='/staff/create').btn.btn-primary.float-right
                                i.fa.fa-plus 
                                |  Create Staff
                        div.card-body
                            div.row
                                div.col-12
                                    table#table.table.table-hover.dataTable.dtr-inline(role="grid")
                                        thead
                                            tr
                                                th(width='5%') ID
                                                th Username
                                                th Email
                                                th Name
                                                //- th Date of Birth
                                                //- th Address
                                                th Role
                                                th Action
                                        tbody 
                                            each result in results
                                                tr
                                                    td #{result.id}
                                                    td #{result.username}
                                                    td #{result.email}
                                                    td #{result.first_name} #{result.last_name}
                                                    //- td #{result.dob.toISOString().replace('T', ' ').substring(0, 10)}
                                                    //- td #{result.address}
                                                    td 
                                                        if result.role == 1 
                                                            | Manager
                                                        else 
                                                            | Staff
                                                    td
                                                        div(style='display:inline-block')
                                                            a(href='/staff/edit/' + result.id).btn.btn-sm.btn-primary.mx-2
                                                                i.fa.fa-edit
                                                        div(style='display:inline-block')
                                                            form(method='post' action='/staff/destroy/' + result.id)
                                                                input(type="hidden" name="_method" value="DELETE")
                                                                button.btn.btn-sm.btn-danger.js-show-confirmation-modal(type='submit')
                                                                    i.fas.fa-trash-alt
                            div.row
                                div.col-12.col-md-6
                                    div#table_info.dataTables_info(role="status")
                                        //- Total entries and pagination text added by JS
        .modal.confirmation-modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        h5.modal-title
                            | Delete Staff
                        button.close(type="button" data-dismiss="modal" arial-label="Close")
                            span(aria-hidden="true") &times;
                    .modal-body 
                        p Are you sure?
                    .modal-footer 
                        button.btn.btn-secondary.js-cancel(data-dismiss="modal")
                            | Cancel
                        button.btn.btn-danger.js-confirm
                            | Continue